# Tharun reddy kondavabahalli venkatarayareddy

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Q1.loading datset
df=pd.read_csv("train.csv")
df["datetime"]=pd.to_datetime(df['datetime'])



#cheching for missing values 
df.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [3]:
#Q2. checking for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [4]:
df.shape

(10886, 12)

In [5]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
import os
os.getcwd()

'/Users/tharunreddy/Downloads/DVAssignment1'

In [7]:
#Q3.new column
df['year']=df['datetime'].dt.year

In [8]:
df['month']=df['datetime'].dt.month
df['weekday']=df['datetime'].dt.weekday
df['hour']=df['datetime'].dt.hour

In [9]:
df.year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
10881    2012
10882    2012
10883    2012
10884    2012
10885    2012
Name: year, Length: 10886, dtype: int32

In [10]:
df.month

0         1
1         1
2         1
3         1
4         1
         ..
10881    12
10882    12
10883    12
10884    12
10885    12
Name: month, Length: 10886, dtype: int32

In [11]:
df.weekday

0        5
1        5
2        5
3        5
4        5
        ..
10881    2
10882    2
10883    2
10884    2
10885    2
Name: weekday, Length: 10886, dtype: int32

In [12]:
df.hour

0         0
1         1
2         2
3         3
4         4
         ..
10881    19
10882    20
10883    21
10884    22
10885    23
Name: hour, Length: 10886, dtype: int32

In [13]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,weekday,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,5,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,5,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,5,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,5,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,5,4

In [14]:
#Q4.rename seasons
season_map={1:'spring' ,2:'summer', 3:'fall', 4:'winter'}
df['season_name']=df['season'].map(season_map)

In [15]:
df.season_name

0        spring
1        spring
2        spring
3        spring
4        spring
          ...
10881    winter
10882    winter
10883    winter
10884    winter
10885    winter
Name: season_name, Length: 10886, dtype: object

In [16]:
#Q5.total by year 
totals=df.groupby('year')[['casual','registered','count']].sum().reset_index()
print(totals)

   year  casual  registered    count
0  2011  155817      626162   781979
1  2012  236318     1067179  1303497

In [17]:
#Q6.mean of the hourly rental bike count by season
season_mean=df.groupby('season_name')['count'].mean().sort_values(ascending=False)
print(season_mean)

season_name
fall      234.417124
summer    215.251372
winter    198.988296
spring    116.343261
Name: count, dtype: float64

In [18]:
#Q7.registered users and non-registered users 
by_work=df.groupby(['year','workingday'])[['registered']].sum()
print(by_work)

                 registered
year workingday
2011 0               167492
     1               458670
2012 0               281343
     1               785836

In [19]:
by_work1=df.groupby(['year','workingday'])[['casual']].sum()
print(by_work1)

                 casual
year workingday
2011 0            83099
     1            72718
2012 0           122938
     1           113380

Ans:-as we can see,The registered user uses the rental bike on the working day(1)more,than the non working day(0)<br>
casual user uses  the rental bike on the non working day(0)more compare to working day(1)<br>
Tis pattern as visble for both the years 2011 and 201

In [20]:
#Q8.calculating highest and lowest number of rentals 
import calendar 
monthly = df.groupby(['year','month'])['count'].sum().reset_index()
monthly['month_name']=monthly['month'].apply(lambda x:calendar.month_name[x])
def highest_lowest(year):
    data=monthly[monthly['year']==year]
    max_row=data.loc[data['count'].idxmax()]
    min_row=data.loc[data['count'].idxmin()]
    print(f"\nYear {year}:")
    print("Highest rentals :", max_row['month_name'], "→", max_row['count'])
    print("Lowest rentals  :", min_row['month_name'], "→", min_row['count'])

highest_lowest(2011)
highest_lowest(2012)

Year 2011:
Highest rentals : July → 92848
Lowest rentals  : January → 23552

Year 2012:
Highest rentals : September → 133425
Lowest rentals  : January → 56332

In [21]:
#Q9.mean of rental counts by weather
weather_map={
  1:'Clear/Partly Cloudy',
  2:'Mist/Cloudy',
  3:'Light Rain/Snow',
  4:'Heavy Precip/Fog'
}
df['weather_name']=df['weather'].map(weather_map)
weather_mean=df.groupby('weather_name')['count'].mean().sort_values()
print(weather_mean)

weather_name
Light Rain/Snow        118.846333
Heavy Precip/Fog       164.000000
Mist/Cloudy            178.955540
Clear/Partly Cloudy    205.236791
Name: count, dtype: float64

In [22]:
#Q10.calculating the correlation
numeric_cols = ['temp','atemp','humidity','windspeed','casual','registered','count','hour']
corr = df[numeric_cols].corr()
print(corr['count'].sort_values(ascending=False))

count         1.000000
registered    0.970948
casual        0.690414
hour          0.400601
temp          0.394454
atemp         0.389784
windspeed     0.101369
humidity     -0.317371
Name: count, dtype: float64

In [23]:
#Q11.creatin a categorical 
bins = [0,6,12,18,24]
labels = ['night','morning','afternoon', 'evening']
df['day_period']= pd.cut(df['hour'], bins=bins, labels=labels,right=False)
print(df[['hour','day_period']])

       hour day_period
0         0      night
1         1      night
2         2      night
3         3      night
4         4      night
...     ...        ...
10881    19    evening
10882    20    evening
10883    21    evening
10884    22    evening
10885    23    evening

[10886 rows x 2 columns]

In [24]:
#Q12. generating a pivot table by periods 
pivot = pd.pivot_table(df, values='count', index='day_period', columns='workingday', aggfunc='mean')
print(pivot)

workingday           0           1
day_period
night        44.052083   16.217582
morning     157.772414  234.353763
afternoon   371.022989  266.196141
evening     180.182759  251.054662

/var/folders/yg/_17071v52gj5ww0gzm_hb2bw0000gn/T/ipykernel_25981/2646164797.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = pd.pivot_table(df, values='count', index='day_period', columns='workingday', aggfunc='mean')